$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$weight-normal: 400;
$weight-demi: 600;
$weight-bold: 700;

// Primary Colours
$color-snaps-black: #0C1E1A;
$color-forest-green: #1E6655;
$color-pistachio: #EFFAF7;
// Secondary Colours
$color-sea-green: #B7CEC9;
$color-sage: #E4EFEC;
$color-snaps-white: #FFFFFF;