@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
    width: 100%;
    padding: 1rem;
    margin-top: 6rem;

    &__top {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }

        @include desktop {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__logo {
        color: $color-snaps-black;
        margin-bottom: 2rem;
        @include wordmark-mobile;

        @include desktop {
            flex-grow: 1;
        }
    }

    &__nav-wrapper {
        @include body-copy-mobile;
        color: $color-snaps-black;

        &__resources {
            margin-bottom: 1rem;
        }

        &__bio {
            margin-bottom: 2rem;
        }

        @include tablet {
            display: flex;

            &__resources {
                margin-right: 2rem;
            }
        }

        @include desktop {
            display: flex;

            &__resources {
                margin-right: 2rem;
            }
        }
    }

    &__socials {
        display: flex;
        color: $color-forest-green;
        flex-direction: row;

        &__item {
            margin: .5rem;
        }
    }

    &__legal {
        color: $color-sea-green;
        @include label-mobile;

        &-item {
            display: inline;
            margin: 0.5rem;
        }

        &-item-dot {
            color: $color-snaps-black;
        }
    }

}