@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/variables" as *;

.photo-card {
    width: 95%;
    background-color: $color-sea-green;
    border: 1px solid $color-forest-green;
    border-radius: 1rem;
    text-align: left;

    &__photo {
        width: 100%;
        border-radius: 1rem 1rem 0 0;
    }

    @include tablet {
        width: 45%;
    }

    @include desktop {
        width: 30%;
    }
}