@use '../../styles/partials/global' as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
    height: 15vh;
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    color: $color-snaps-white;

    &__logo {
        font-size: 2rem;
    }
}

.toggle-filters-button {
    padding: 1rem;
    background-color: $color-sage;
    border-color: $color-forest-green;
    border-radius: 3rem;
    color: $color-forest-green;
    font-size: 1.3rem;
    cursor: pointer;

    &--open {
        color: $color-snaps-white;
        background-color: $color-forest-green;
    }
}